{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/app.css"/>
{% endblock %}

{% block body %}
    <div class="p-10 bg-white rounded-2xl shadow-lg" style="width: 50%; float: left; margin-left: 20px">
        <h1 class="font-semibold text-2xl">Our Holidays</h1>
        <h2 class="font-semibold text-xl">Add new destination</h2>
        <form class="flex flex-col pt-4" method="post" enctype="application/x-www-form-urlencoded">
            <input class="w-full bg-white shadow-lg rounded-xl border border-indigo-900 mb-4 p-4" type="text"
                   name="name" placeholder="Name"/>
            <textarea class="w-full h-32 bg-white shadow-lg rounded-xl border border-indigo-900 mb-4 p-4"
                      name="description" placeholder="Description"></textarea>
            <div class="input-group-btn">
                <input class="bg-indigo-900 text-white rounded-xl shadow-lg px-4 py-2 cursor-pointer" type="submit"
                       value="Create !"/>
            </div>
        </form>
    </div>
    <div class="p-10 bg-white rounded-2xl shadow-lg mt-10" style="float: right">
        {% for destination in destinations %}
            <h2 class="font-semibold text-lg mb-2">{{ destination.name }}</h2>
            <p>{{ destination.description }}</p>
        {% endfor %}
    </div>
    <div style="text-align: center;">
        <div id="album" style="margin-bottom: 20px">
            {% for image in images %}
                <img class="preview" src="{{ image.url }}" width="300px"
                     style="float: left; margin: 20px"
                     onclick="toggleImage(this, {{ image.full_suffix }})" alt="">
            {% endfor %}
        </div>
    </div>
{% endblock %}
