<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body class="bg-900 font-sans p-10" style="background-image: url('../img/6087572.jpg');background-size: cover;">
    {% block body %}{% endblock %}
  </body>
</html>
